
.elonmusk {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

h2 {
  font-family: Arial, Calibry, sans-serif;
  margin-bottom: 30px;
}

body {
  font-family: Georgia, serif;
  text-align: center;
  
}

input {
  text-align: center;
  width: 40px;	
  font-size: 14px;
}

#input {
  font-size: 14px;
}

button {
  margin: 30px auto;
  padding: 10px 15px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}

#NOS {
  display: none;	
}

.answers { 
     height: 70px;
     line-height: 70px;
     padding: 16px 8px;
     font-size: 25px;
       }

.footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
