.elonmusk {
         Max width:400px;
         margin: 10vh auto 0 auto;
         box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
         }
h1 {
  font-family: Arial, Calibry, sans-serif;
  margin-bottom: 30px;
}

body {
  font-family: Georgia, serif;
  text-align: center;
  background-color : blue ;
}

input {
  text-align: center;
  width: 80px;	
  font-size: 28px;
}

#input {
  font-size: 28px;
}

button {
  margin: 30px auto;
  padding: 10px 15px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}

#NOS {
  display: none;	
}
