

h3 {
  font-family: Arial, Calibry, sans-serif;
  margin-bottom: 30px;
}

body {
  font-family: Georgia, serif;
  text-align: center;
  
}

input {
  text-align: center;
  width: 80px;	
  font-size: 28px;
}

#input {
  font-size: 28px;
}

button {
  margin: 30px auto;
  padding: 10px 15px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}

#NOS {
  display: none;	
}

.answers { 
     height: 70px;
     line-height: 70px;
     padding: 16px 8px;
     font-size: 25px;
       }
